@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #F3F4F5 ;
  --secondary-color: #839BBF;
  --third-color: #556B8D;
  --fourth-color: #FBFCFD;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --lighterGray-color: #F8F8F8;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --text-color: #4A4C4D; 
  --underline-color: #394ff4;
  --lightblue-color: #B4CDF1;
  --highlight-color:  #b4cdf197;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}